html {
    /* background: linear-gradient(to right, #D1D5DB, #1F2937); */
} 
.gradient {
        background: linear-gradient(286deg, rgba(198,255,213,1) 0%, rgba(61,232,113,1) 44%, rgba(153,222,59,1) 100%);
      }


      

      .image::before {
  background-image:  url('https://dk22sb66g7qaa.cloudfront.net/aesir-dam-viewports/Freilassing-active-1366.jpg?rel=2020-02-10+19%3A18%3A10');
   background-repeat: no-repeat, repeat;
   background-position: center;
   background-size: cover;
      height: auto;
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: .2;
      z-index: 0;

   
}

.header{
  opacity: 1;
  overflow: hidden;
}

.font-dropdown .p-dropdown-label  {
  
 font-size: 1.1rem !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}